@import url('https://fonts.googleapis.com/css?family=Heebo:400,500');

#cavy-sse-iframe {
    position: fixed;
    top: 0;
}

#cavy-iframe {
    overflow-y: hidden;
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    z-index: 9992;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: white;
}

.cavy-iframe-hide {
    display: none;
}

#cavy-widget {
    position: fixed;
    right: 22px;
    bottom: 20px;
    user-select: none;
    vertical-align: baseline;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.cavy-button {
    border-radius: 2px;
    background: #1e8cf0;
    box-shadow: inset 0 0 1px 0 #fff;
    cursor: pointer;
    height: 30px;
    width: 60px;
    margin-top: 6px;
}

#cavy-select-button {
    position: absolute;
    right: 66px;
    bottom: 0;
    width: 32px;
    height: 30px;
    cursor: pointer;
    background: rgba(0,0,0,0.1);
    border-radius: 2px;
}

.cavy-status-text {
    display: inline-block;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: hsla(0, 0%, 100%, .75);
    font-size: 12px;
    text-align: right;
    float: left;
    height: 100%;
    line-height: 30px;
}

.cavy-icon {
    display: inline-block;
    color: hsla(0, 0%, 100%, .9);
    float: left;
    height: 100%;
    margin-right: 8px;
    margin-left: 12px;
}

.cavy-icon svg {
    display: block;
    fill: white;
    color: white;
    height: 100%;
}

#cavy-select-button > div {
    padding-top: 10px;
}

#cavy-select-button svg {
    fill: #1e8cf0;
    color: #1e8cf0;
    display: block;
    margin-left: 9px;
    height: 100%;
}

.cavy-wiki-text {
    float: left;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    line-height: 30px;
    height: 100%;
}

.cavy-selector {
    background: #09c;
    position: absolute;
    z-index: 7000;
    cursor: pointer;
}

.cavy-selector-tooltip {
    background: #2a2a2a;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    padding: 2px 25px 12px 25px;
    position: absolute;
    cursor: pointer;
    z-index: 7001;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(255,255,255,0.6);
    -moz-box-shadow: 2px 2px 5px 0 rgba(255,255,255,0.6);
    box-shadow: 0 0 2px 0 rgba(255,255,255,0.6);
    text-align: center;
    max-width: 260px;
    min-width: 260px;
}

.cavy-selector-tooltip-icon {
    float: left;
    width: 48px;
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.cavy-selector-tooltip-slug {
    line-height: 16px;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    border-radius: 2px;
    background: #39f;
    color: #fff;
    display: inline-block;
    padding: 1px 5px 0 5px;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}

.cavy-slug-default {
}

.cavy-slug-white {
    background: #fff;
    color: #000;
    text-shadow: inherit;
}

.cavy-slug-green {
    background: #1FB714;
}

.cavy-slug-yellow {
    background: #FBF305;
    color: #000;
    text-shadow: inherit;
}

.cavy-slug-dark-green {
    background: #006412;
}

.cavy-slug-orange {
    background: #FF6403;
}

.cavy-slug-brown {
    background: #562C05;
}

.cavy-slug-red {
    background: #DD0907;
}

.cavy-slug-tan {
    background: #90713A;
}

.cavy-slug-magenta {
    background: #F20884;
}

.cavy-slug-light-grey {
    background: #C0C0C0;
    color: #000;
    text-shadow: inherit;
}

.cavy-slug-purple {
    background: #4700A5;
}

.cavy-slug-medium-grey {
    background: #808080;
}

.cavy-slug-blue {
    background: #0000D3;
}

.cavy-slug-dark-grey {
    background: #404040;
}

.cavy-slug-cyan {
    background: #02ABEA;
}

.cavy-slug-black {
    background: #000000;
    text-shadow: inherit;
}

.cavy-selector-tooltip-title {
    font-size: 16px;
    font-weight: 600;
}

.cavy-selector-tooltip-topic-id {
    font-size: 10px;
    font-weight: 300;
    opacity: 0.6;
}

.cavy-selector-tooltip p {
    padding: 0px;
    margin: 12px 0px 4px 0px;
    color: #fff !important;
    font-size: 12px;
    line-height: 16px !important;
}

.cavy-selector-tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #2a2a2a transparent transparent transparent;
    z-index: 7000;
}

.cavy-selector-tooltip-right::after {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    left: -20px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #2a2a2a transparent transparent;
    z-index: 7000;
}

.cavy-selector-tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #2a2a2a transparent;
    z-index: 7000;
}

.cavy-selector-tooltip-left::after {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    right: -20px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #2a2a2a;
    z-index: 7000;
}

.cavy-topic {}

.cavy-topic-overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,200,240,0.3);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(0,200,240,0.2) 17px, rgba(0,200,240,0.3) 17px);
    background-size: 100% 100%;
    display: none;
}

.cavy-topic-overlay-visible {
    display: inline-block !important;
}

.cavy-topic-overlay-selected {
    outline: 1px solid #09c;
}

.reset-this {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    /* basic modern patch */
    all: initial;
    all: unset;
}

@media (max-width: 767px) {

    #cavy-widget {
        left: 0;
        right: 0;
        bottom: 10px;
        text-align: center;
    }

    .cavy-button {
        display: inline-block;
    }

    #cavy-select-button {
        position: relative;
        display: inline-block;
        right: initial;
        bottom: initial;
    }

}